// Hello

$primary-color: #FF92A6;
$secondary-color: #525252;
$tertiary-color: #E9E9E9;

$accent-color: #FCDE9C;
$hover-color: #BBCDE5;

$hover-transition-speed: .2s;

a{
    color: black;
    text-decoration: none;

    &:hover{
        //color: $hover-color;
        background-color: $hover-color;
    }


}

// a:hover{
//     color: $accent-color;
//     background-color: $hover-color;
// }