@import "composition/reset";
@import "composition/fonts";
@import "composition/theme";

body {
    margin: 0 auto;
    width: 80%;
    background-color: aquamarine;
}

main, header{
    background-color: red;
}