@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Montserrat:wght@100;200&family=Poppins:wght@100&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

html {
  height: 100%;
  font-size: 1em;
}

h1, h2, h3, h4, p, a, ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

p, a, li, span {
  font-family: "Poppins", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  background-color: #BBCDE5;
}

li:not(section.container li) {
  list-style-type: none;
}

body {
  background-image: url("../../images/testBack3.jpg");
  background-attachment: fixed;
}

@media screen and (min-width: 1000px) {
  main > .container {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
  }
}

main > .container > * {
  grid-column: 2/3;
}

blockquote {
  border-radius: 10px;
}

#guidelines {
  grid-column: 1/4;
}
#guidelines section {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  background-color: #BBCDE5;
}

.skip-link {
  display: none;
}

header {
  text-align: center;
  background-color: #FF92A6;
  grid-column: 1/4;
}
header a {
  width: fit-content;
  margin: 0 auto;
  background-color: #FCDE9C;
}
header .container {
  padding: 1em;
}
header .container h1 {
  font-size: clamp(2rem, 6.5vw, 9rem);
  padding: 10px;
}
header .container h2 {
  font-size: clamp(1.5em, 2vw, 3em);
  padding: 10px;
}
header .container p {
  font-weight: bold;
  padding: 10px;
  margin: 15px;
}
header .container p a {
  color: #FCDE9C;
  transition: 0.2s;
  background-color: #FF92A6;
}
header .container p a:hover {
  color: white;
}
header .container .link-github {
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}
header .container .link-github:hover {
  color: white;
  background-color: #BBCDE5;
  transition-duration: 0.2s;
}
header .container .link-github:hover span svg {
  fill: white;
}

svg {
  width: 25px;
  animation: turning-star 8s linear infinite;
  transition: 0.2s;
}

@keyframes turning-star {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(72deg);
  }
  40% {
    transform: rotate(144deg);
  }
  60% {
    transform: rotate(216deg);
  }
  80% {
    transform: rotate(288deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  background-color: #BBCDE5;
}

nav {
  background-color: #525252;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav ul {
  color: white;
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 30px;
}
nav ul li a {
  color: white;
  font-weight: bold;
  transition: 0.2s;
}
nav ul li a:hover {
  border-radius: 5px;
  padding: 5px;
  transition-duration: 0.2s;
}

li:not(section.container li) {
  list-style-type: none;
}

body {
  background-image: url("../../images/testBack3.jpg");
  background-attachment: fixed;
}

@media screen and (min-width: 1000px) {
  main > .container {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
  }
}

main > .container > * {
  grid-column: 2/3;
}

blockquote {
  border-radius: 10px;
}

#guidelines {
  grid-column: 1/4;
}
#guidelines section {
  max-width: 1000px;
  margin: 0 auto;
}

.page-footer {
  background-color: #FF92A6;
}
.page-footer .container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 10px;
}
@media screen and (min-width: 1000px) {
  .page-footer .container {
    width: 1000px;
  }
}
.page-footer .container p:nth-child(1),
.page-footer .container p:nth-child(3),
.page-footer .container p:nth-child(4) {
  font-weight: bold;
  padding: 5px;
}
.page-footer .container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.page-footer .container ul li {
  background-color: #FCDE9C;
  font-weight: bold;
  margin-top: 10%;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s;
}
.page-footer .container ul li:hover {
  box-shadow: 3px 3px #BBCDE5;
  padding: 7px;
  transition-duration: 0.5s;
}
.page-footer .container ul li a {
  padding: 0;
}
.page-footer .container ul li a:hover {
  background-color: #FCDE9C;
  color: white;
}
.page-footer .container ul li a svg {
  background-color: #FCDE9C;
  width: 15px;
  animation: none;
}

@media only screen and (min-width: 700px) {
  .page-footer .container ul li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
li:not(section.container li) {
  list-style-type: none;
}

body {
  background-image: url("../../images/testBack3.jpg");
  background-attachment: fixed;
}

@media screen and (min-width: 1000px) {
  main > .container {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
  }
}

main > .container > * {
  grid-column: 2/3;
}

blockquote {
  border-radius: 10px;
}

#guidelines {
  grid-column: 1/4;
}
#guidelines section {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  background-color: #BBCDE5;
}

.profile {
  grid-column: 2/3;
}

#guidelines {
  background-color: #FF92A6;
}

li:not(section.container li) {
  list-style-type: none;
}

body {
  background-image: url("../../images/testBack3.jpg");
  background-attachment: fixed;
}

@media screen and (min-width: 1000px) {
  main > .container {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
  }
}

main > .container > * {
  grid-column: 2/3;
}

blockquote {
  border-radius: 10px;
}

#guidelines {
  grid-column: 1/4;
}
#guidelines section {
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (min-width: 800px) {
  article:first-of-type > section.container:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  blockquote {
    grid-column: 3/4;
    height: fit-content;
    padding: 20px;
    justify-content: center;
    grid-row: 1/end 4;
    border: solid black 1px;
    align-items: center;
    margin: auto 20px;
  }
  #about > section:first-of-type {
    grid-column: 1/3;
  }
  section > p {
    grid-column: 1/3;
    justify-self: auto;
    row-gap: auto;
    margin-top: 1.5em;
  }
  section:nth-child(2) > ul {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #guidelines {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #contribute {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  background-color: #BBCDE5;
}

.profile {
  text-align: center;
  width: 350px;
  font-weight: bold;
}
.profile .container {
  position: relative;
}
.profile .container #profile-title {
  font-size: 20px;
  padding: 10px;
  border-bottom: 2px solid rgb(169, 168, 168);
  margin-bottom: 10px;
}
.profile .container .profile-twitter,
.profile .container .profile-website {
  display: none;
}
.profile .container ul {
  background-color: #FCDE9C;
  padding: 8%;
  margin-bottom: 7%;
  border: 10px solid #e9e9e9;
  height: 170px;
}
.profile .container a {
  background-color: #FCDE9C;
  padding: 10px;
  transition: all 0.8s ease-in;
  border-radius: 5px;
  position: absolute;
  bottom: 35px;
  right: 105px;
}
.profile .container a:hover {
  background-color: #BBCDE5;
  color: white;
}

@media only screen and (min-width: 500px) {
  .profile {
    width: 350px;
  }
  .profile .container a {
    right: 105px;
  }
}
#styles .container {
  padding: 20px;
  text-align: center;
}
#styles .container ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#styles .container ul li {
  padding: 20px;
  background-color: #FCDE9C;
  margin-bottom: 25px;
  margin-top: 20px;
  height: 125px;
  width: 100%;
  border-radius: 5px;
  border: 5px solid rgb(233, 233, 233);
}
#styles .container ul li span {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
#styles .container ul li span a {
  width: fit-content;
  margin: 0 auto;
  padding: 2px 20px;
  background-color: #FCDE9C;
}
#styles .container ul li span a:hover {
  color: white;
}
#styles .container .link-allstyles {
  background-color: #BBCDE5;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
#styles .container .link-allstyles:hover {
  background-color: #FCDE9C;
  color: black;
}

#styles {
  margin-top: 5%;
  margin-bottom: 5%;
}
#styles .container ul li:nth-child(1),
#styles .container li:nth-child(2),
#styles .container li:nth-child(3) {
  position: relative;
}
#styles .container ul li:nth-child(1):before,
#styles .container li:nth-child(2):before,
#styles .container li:nth-child(3):before {
  position: absolute;
  content: "Style";
  text-align: center;
  color: black;
  background-color: #FF92A6;
  border-radius: 5px;
  height: 125px;
  width: 100%;
  border-radius: 5px;
  bottom: 0px;
  left: 0px;
  transition: all 0.75s ease-in-out;
}
#styles .container ul li:nth-child(1):hover::before,
#styles .container li:nth-child(2):hover::before,
#styles .container li:nth-child(3):hover::before {
  width: 0%;
}

@media only screen and (min-width: 800px) {
  #styles .container ul {
    justify-content: space-evenly;
    flex-direction: row;
    gap: 25px;
  }
  #styles .container ul li {
    height: 150px;
  }
  #styles {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #styles .container ul li:nth-child(1),
  #styles .container li:nth-child(2),
  #styles .container li:nth-child(3) {
    position: relative;
  }
  #styles .container ul li:nth-child(1):before,
  #styles .container li:nth-child(2):before,
  #styles .container li:nth-child(3):before {
    height: 145px;
    bottom: 0px;
    left: 0px;
    transition: all 0.5s ease-in-out;
  }
  #styles .container ul li:nth-child(1):hover::before,
  #styles .container li:nth-child(2):hover::before,
  #styles .container li:nth-child(3):hover::before {
    width: 100%;
    transform: translate(-30px, -120px);
  }
}

/*# sourceMappingURL=style.css.map */
